{% extends '_base.html' %}

{% load staticfiles %}
{% load bootstrap_tags %}

{% block subtitle %}Mock Galaxy Factory{% endblock %}

{% block extracss %}
    <style>
        .span4, .span3, .span5, .span8, .span9, .span10, .span11, .span12 {
            border: 1px solid #ccc;
        }
        .boxed {
            padding: 20px;
            border: 1px solid #ccc;
        }
        fieldset fieldset legend {
            font-size: medium;
        }
    </style>
{% endblock extracss %}

{% block extrajs %}
    <script src="{% static "js/mgf.js" %}"></script>
{% endblock extrajs %}

{% block content %}
    <h1>
        Mock Galaxy Factory
    </h1>

    <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Light Cone</legend>
            <div class="row-fluid">
                <div class="boxed span4">
                    Model and Simulation information goes here
                </div>
                <div class="boxed span8">
                    {% for fieldset in form.fieldsets %}
                        {{ fieldset|as_bootstrap_fieldset }}
                    {% endfor %}
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <input type="submit" value="Submit Job" class="btn btn-primary" />
        </div>
    </form>

{% endblock content %}
