{% extends "_base.html" %}

{% load url from future %}

{% block subtitle %}My Jobs ({{ status }}){% endblock %}
{% block content %}
    <h1>My Jobs ({{ status }})</h1>
    <div id="tabbed">
        {% with "some_string_that_is_non_empty" as job_tabs %}
            {% include 'jobs/_status_links.html' %}
        {% endwith %}
        <table id="jobs_table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Submitted at</th>
                    {% if show_field.user %}
                        <th>User</th>
                    {% endif %}
                    {% if show_field.status %}
                        <th>Status</th>
                    {% endif %}
                        <th>Description</th>
                    {% if show_field.output_path %}
                        <th>Output Path</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                    <tr>
                        <td><a id="view_job_{{ job.id }}" href="{% url 'view_job' job.id %}">View</a></td>
                        <td>
                            {{ job.created_time|date:"D d M Y H:m" }}
                        </td>
                        {% if show_field.user %}
                            <td>{{ job.user }}</td>
                        {% endif %}
                        {% if show_field.status %}
                            <td>{{ job.status }}</td>
                        {% endif %}
                        <td>{{ job.description|linebreaks }}</td>
                        {% if show_field.output_path %}
                            <td>{{ job.output_path }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
