{% extends "_base.html" %}
{% block subtitle %}Submitted Jobs{% endblock %}
{% block content %}
    <h1>Submitted Jobs</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Submitted at</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <td>
                        {{ job }}
                    </td>
                    <td>
                        {{ job.description }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
