{% extends "_base.html" %}
{% block subtitle %}My Jobs ({{ status }}){% endblock %}
{% block extracss %}
    <style>
        /* TODO remove description completely */
        td:nth-child(2), th:nth-child(2) {
            display:none;
        }
    </style>
{% endblock extracss %}
{% block content %}
    <h1>My Jobs ({{ status }})</h1>
    <div>
        {% include 'jobs/_status_links.html' %}
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Submitted at</th>
                <th>Description</th>
                <th>id</th>
                <th>user</th>
                <th>status</th>
                <th>parameters</th>
                <th>output_path</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <td>
                        {{ job.created_time }}
                    </td>
                    <td>
                        {{ job.description }}
                    </td>
                    <td><a href="{% url view_job job.id %}">{{ job.id }}</a></td>
                    <td>{{ job.user }}</td>
                    <td>{{ job.status }}</td>
                    <td>{{ job.parameters|linebreaks }}</td>
                    <td>{{ job.output_path }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
