[submodule "science_modules/sub/use"]
	path = science_modules/sub/use
	url = https://github.com/furious-luke/use.git
[submodule "science_modules/sub/libhpc"]
	path = science_modules/sub/libhpc
	url = https://github.com/furious-luke/libhpc.git
