**~
**.pyc
**.swp
build-*
config.log
config.py
.sconf_temp
.sconsign.dblite
build/*
dist/*
docs/doctrees
*.egg-info
credentials.hh
core/sageimport/SQLStatments.txt
core/sageimport/TestMySQlConnection.py
.project
.pydevproject
core/sageimport_mpi/Redshift.txt
core/workflow/DummyScript.py
science_modules/apps/credentials.hh
core/sageimport_mpi/settings.xml
core/sageimport_mpi_BSP/settings.xml
web/build
web/tao/static/docs
docs/build
docs/doxyxml
docs/source/bpfilters
.idea
akg_*
