{% extends '_base.html' %}

{% load url from future %}

{% block subtitle %}Admin{% endblock %}
{% block content %}
    <h1> Administration </h1>
    <ul>
        <li>
            <a href="{% url 'access_requests' %}">Approve and Reject users</a>
        </li>
        <li>
        	Jobs by status:
        	<ul>
        	{% for status in statuses %}
                    <li><a href="../admin/tao/job/?q={{status.0}}">{{status.1}}</a></li>
        	{% endfor %}
                </ul>
        </li>
    </ul>
{% endblock content %}
