{% extends '_base.html' %}

{% load url from future %}

{% block subtitle %}
    Home
{% endblock %}
{% block content %}
    <h1>
        Homepage
    </h1>
    <p>Welcome to the ASVO Theoretical Astrophysical Observatory!</p>
    <p>If you are new to the world of Theoretical Astrophysical Observatories, please
    read our Introduction (link to be provided).</p>
    <p>If you are new to this service, please read our User's Guide (link to be
    provided) to learn about its capabilities and how to get the best value from
    the system.</p>
    <div>
        <ul>
            <li>
                <a href="{% url 'mock_galaxy_factory' %}">New Catalogue</a>
            </li>
        </ul>
        {% include 'jobs/_status_links.html' %}
    </div>
{% endblock %}
