{% extends '_base_home.html' %}
{% load static %}

{% load url from future %}

{% block subtitle %}
    Home
{% endblock %}
{% block content %}	    
	<div>
		<h1>Theoretical Astrophysical Observatory</h1>
		<div class="container-full">
		
			<div>
				<p align="justify">The Theoretical Astrophysical Observatory (TAO) houses queryable data
				from multiple popular cosmological simulations and galaxy formation models.</p>
				<p align="justify">Results can be funnelled through higher-level modules to build custom
				mock galaxy catalogues and images. TAO is accessible from anywhere you can access the internet.</p>
				<p align="justify">
				TAO is part of the <a href="www.asvo.org.au" target="_blank">All-Sky Virtual Observatory (ASVO)</a> and is funded and supported by 
				<a href="http://astronomyaustralia.org.au/">Astronomy Australia Limited</a>, <a href="http://www.nectar.org.au">the National eResearch Collaboration Tools and Resources (NeCTAR)</a> , and <a href="http://www.swinburne.edu.au/">Swinburne University of Technology</a>.  
				</p>
			</div>
			
			<div class="push"><!--//--></div>
			
			<div class="image-div" align="center" >
				<img  class="main-img" src="{% static 'images/TAO_illust.png'%}"/>
			</div>
		
		</div>
	
	</div>
{% endblock %}
{% block footertxt %}	
	
	
<div align="center">
 <img src="{% static 'images/sponsers.jpg'%}"/>
</div>
       
{% endblock %}

