{% extends '_base.html' %}

{% load staticfiles %}

{% block subtitle %}Mock Galaxy Factory{% endblock %}

{% block extracss %}
    <style>
        .span4, .span3, .span5, .span8, .span9, .span10, .span11, .span12 {
            border: 1px solid #ccc;
        }
        .boxed {
            padding: 20px;
            border: 1px solid #ccc;
        }
    </style>
{% endblock extracss %}

{% block extrajs %}
    <script src="{% static "js/mgf.js" %}"></script>
{% endblock extrajs %}

{% block content %}
    <h1>
        Mock Galaxy Factory
    </h1>

    <form action="" method="POST">
        <fieldset>
            <legend>Light Cone</legend>
            <div class="row-fluid">
                <div class="boxed span4">
                    o hai there
                </div>
                <div class="boxed span8">
                    <div class="control-group{% if field.errors %} error{% endif %}">
                        <label class="control-label" for="{{ field.auto_id }}">Dark Matter Simulation{{ field.label|safe }}{% if field.field.required %}*{% endif %} </label>
                        <div class="controls">
                            <select>
                                {% for dms in dark_matter_simulations %}
                                    <option>{{ dms }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <input type="submit" value="Submit" />
        </fieldset>
    </form>

{% endblock content %}
