{% extends '_base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block subtitle %}
    Register
{% endblock %}
{% block extrajs %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui/themes/base/jquery-ui.css' %}" />
    <script src="{% static 'js/jquery-ui-1.10.1.custom.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/PopUp.js' %}"></script>
{% endblock extrajs %}

{% block content %}
    <h1>
        Register
    </h1>
    <div class="row-fluid">
        <div class="boxed span8">
            <p>
                <a href="#" id="trigger">Why register?</a>
            </p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|as_bootstrap }}
            </form>
        </div>
        <!-- HIDDEN / POP-UP DIV -->
        <div class="aside span4" id="why-register" style="display: none;">
            <div class="boxed">
                <div style="overflow-y: scroll;height: 210px">
                <p>
                    Test: This text only appears when hovering over the "Why register?" link.
                    Otherwise it is hidden from view.
                </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
