{% load bootstrap_tags %}
{% load assets %}
{% load staticfiles %}
{% block extrajs %}
<script type="text/javascript" src="{% static 'js/taoui_mock_image/mock_image.js' %}"></script>
{% endblock extrajs %}

<legend></legend>
<div class="row-fluid">
    <div class="boxed span8">
        <div>
          <div class="control-group id_mock_image-apply_mock_image">
            <label class="control-label" for="id_mock_image-apply_mock_image">Generate Mock Image</label>
            <div class="controls">
              <input id="id_mock_image-apply_mock_image"
                name="mock_image-apply_mock_image" type="checkbox"
                data-bind="checked: apply_mock_image, enable: can_have_images" />
            </div>
          </div>
        </div>
        <div id="mock_image_params" data-bind="template: {name: 'single_form_template', foreach: image_settings}, visible: can_have_images() && apply_mock_image()"
                style="display: block;">
        </div>
        <input type="button" id="id_mock_image-add_image_button" class="btn" value="Add" data-bind="click: add_image_settings, visible: can_have_images() && apply_mock_image()"/>
    </div>
    <div class="aside span4" id="sed_info">
    </div>
</div>

<script type="text/html" id="single_form_template">
          <div class="single-form boxed dynamic-form">
            {% for field in form.empty_form %}
            {{ field|as_bootstrap_field }}
            {% endfor %}
            <input type="button" class="btn" value="Remove" data-bind="click: function(){$parent.remove_image_settings($data)}"/>
          </div>
</script>
