{% load bootstrap_tags %}
{% load assets %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/taoui_mock_image/mock_image.js' %}"></script>

<legend></legend>
<div class="row-fluid">
    <div class="boxed span8">
        <div>
          <div class="control-group id_mock_image-apply_mock_image">
            <label class="control-label" for="id_mock_image-apply_mock_image">Generate Mock Image</label>
            <div class="controls">
              <input id="id_mock_image-apply_mock_image"
              name="mock_image-apply_mock_image" type="checkbox"
              {% if form.apply_mock_image %}checked{% endif %} />
            </div>
          </div>
        </div>
        <div id="mock_image_params">
          {% for sf in form %}
          <div class="single-form boxed">
            {% for field in sf %}
            {{ field|as_bootstrap_field }}
            {% endfor %}
          </div>
	  {% endfor %}
          {{ form.management_form }}
        </div>
    </div>
    <div class="aside span4" id="sed_info">
    </div>
</div>  
