<div class="summary_mock_image">
    <table>
        <tr>
            <td><h4>Mock Image</h4></td>
            <td><span class="select_mock_image"><!-- --></span></td>
        </tr>
        <tr class="apply_mock_image">
            <td>Total Magnitude Field</td>
            <td>
                <span class="total_mag_field"><!-- --></span>
            </td>
        </tr>
        <tr class="apply_mock_image">
            <td>Bulge Magnitude Field</td>
            <td>
                <span class="bulge_mag_field"><!-- --></span>
            </td>
        </tr>
        <tr class="apply_mock_image">
            <td>Dimensions</td>
            <td>
                <span class="dim"><!-- --></span>
            </td>
        </tr>
    </table>
</div>  
