{% load bootstrap_tags %}
{% load assets %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/taoui_sed/sed.js' %}"></script>

<legend></legend>
<div class="row-fluid">
    <div class="boxed span8">
        <div>
            {{ form.get_apply_sed|as_bootstrap_field }}
        </div>
        <div id="sed_params">
	{% for fieldset in form.fieldsets %}
	    {{ fieldset|as_bootstrap_fieldset }}
	{% endfor %}
        </div>
    </div>
    <div class="aside span4" id="sed_info">
        <div class="boxed">
            <div class="stellar-model-info">
                <div> Selected stellar model details </div>
                <div style="overflow-y: scroll;height: 178px">
                    <p>
                        <strong class="name"><!-- --></strong>
                    </p>
                    <div class="details"><!-- --></div>
                </div>
            </div>
        </div>
        <div class="boxed">
            <div class="band-pass-info">
                <div> Selected band-pass filter details </div>
                <div style="overflow-y: scroll;height: 178px">
                    <p>
                        <strong class="name"><!-- --></strong>
                    </p>
                    <div class="details"><!-- --></div>
                </div>
            </div>
        </div>
        <div class="boxed">
            <div class="dust-model-info">
                <div> Selected dust model details </div>
                <div style="overflow-y: scroll;height: 178px">
                    <p>
                        <strong class="name"><!-- --></strong>
                    </p>
                    <div class="details"><!-- --></div>
                </div>
            </div>
        </div>
    </div>
</div>  
