{% load bootstrap_tags %}
{% load assets %}

<legend></legend>
<div class="row-fluid">
    <div class="boxed span8">
	{% for fieldset in form.fieldsets %}
	    {{ fieldset|as_bootstrap_fieldset }}
	{% endfor %}
    </div>
    <div class="aside span4">
        <div class="boxed">
            <div class="stellar-model-info">
                <div> Selected stellar model details </div>
                <div style="overflow-y: scroll;height: 150px">
                    <p>
                        <strong class="name"><!-- --></strong>
                    </p>
                    <div class="details"><!-- --></div>
                </div>
            </div>
        </div>
        <!--<div class="boxed">-->
            <!--<div class="band-pass-info">-->
                <!--<div> Selected band-pass filter details </div>-->
                <!--<div style="overflow-y: scroll;height: 150px">-->
                    <!--<p>-->
                        <!--<strong class="name">&lt;!&ndash; &ndash;&gt;</strong>-->
                    <!--</p>-->
                    <!--<div class="details">&lt;!&ndash; &ndash;&gt;</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="boxed">
            <div class="dust-model-info">
                <div> Selected dust model details </div>
                <div style="overflow-y: scroll;height: 150px">
                    <p>
                        <strong class="name"><!-- --></strong>
                    </p>
                    <div class="details"><!-- --></div>
                </div>
            </div>
        </div>
    </div>
</div>  
