<div class="summary_sed">
    <table>
        <tr>
            <td><h4>Spectral Energy Distribution</h4></td>
            <td><span class="select_sed"><!-- --></span></td>
        </tr>
        <tr class="apply_sed">
            <td>Model</td>
            <td>
                <span class="single_stellar_population_model"><!-- --></span> <a id="expand_stellar_model" href="#">>></a>
                <span class="stellar_model_description"><!-- --></span>
            </td>
        </tr>
        <tr class="apply_sed">
            <td>Bandpass Filters</td>
            <td>
                <span class="band_pass_filters"><!-- --></span>
                <a id="expand_band_pass_filters" href="#"> >> </a>
                <span class="band_pass_filters_list"><!-- --></span>
            </td>
        </tr>
        <tr class="apply_sed">
            <td>Dust</td>
            <td>
                <span class="dust_model"><!-- --></span> <a id="expand_dust_model" href="#">>></a>
                <span class="dust_model_description"><!-- --></span>
            </td>
        </tr>
    </table>
</div>  
