{% extends '_base.html' %}
{% load bootstrap_tags %}
{% load assets %}
{% block subtitle %}
    Login
{% endblock %}
{% block content %}
    {% if next %}
        You need to login to continue.
    {% endif %}
    <h1>
        Login
    </h1>
    <table>
    <tr>
    <td>
    {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <form action='.' method='post'>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    </td>
    <td>&nbsp; </td>
    <td class="verticalLine">&nbsp; </td>
    <td valign="top" style="width:300px">
    <p>Or using your <a href="{{ aaf_session_url }}"><button class="btn">Institution Credentials</button></a></p>
    <p>Note: This will take you to the AAF (Australian Access Federation) login page.</p>
    <p> If you are not yet authorised to use TAO you will be automatically redirected to the TAO Registration
     Page after successfully authenticating with your AAF credentials.</p>
    </td>
    </tr>
    </table>
{% endblock content %}
