{% extends '_base.html' %}
{% load bootstrap_tags %}
{% block subtitle %}
    Login
{% endblock %}
{% block content %}
    {% if next %}
        You need to login to continue.
    {% endif %}
    <h1>
        Login
    </h1>
    {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <form action='.' method='post'>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock content %}
