{% extends "_base.html" %}
{#{% load i18n %}#}
{% load bootstrap_tags %}

{% block title %}Reset my password{% endblock %}
{% block content_title %}<h1>Reset my password</h1>{% endblock %}
{% block content %}

<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

<form action="" method="post">{% csrf_token %}
{#{{ form.email.errors }}#}
{{ form|as_bootstrap }}
{#<p><label for="id_username">Username:</label> {{ form.username }}</p>#}
{#<p><label for="id_email">Email address:</label> {{ form.email }} <input type="submit" value="Reset my password" class="btn btn-primary"/></p>#}
</form>

{% endblock %}
{#{% block title %}Reset Password{% endblock %}#}
{##}
{#{% block content %}#}
{#<p>Please specify your email address to receive instructions for resetting it.</p>#}
{##}
{#<form action="" method="post">#}
{#    <div style="display:none">#}
{#        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">#}
{#    </div>#}
{#     {{ form.email.errors }}#}
{#    <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>#}
{#</form>#}
{#{% endblock %}#}