{% autoescape off %}
Hi {{ user.first_name }},

You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}

Please go to the following page and log in with your new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}/accounts/login/
{% endblock %}

Your username: {{ user.username }}
Your new password: {{ password }}

We strongly recommend changing your password once you are logged in.

Thanks for using our site!

The {{ site_name }} team.

{% endautoescape %}