{% extends "_base.html" %}
{#{% load i18n %}#}
{% load bootstrap_tags %}

{% block subtitle %}Reset my password{% endblock subtitle %}
{% block content %}
<h1>Reset my password</h1>
<p>Forgotten your password? Please enter your username and email address below, and we'll email instructions for setting a new one.</p>
<p>For all other issues, please email <a href="mailto:admin@asvo.org.au">TAO Administration</a>.</p>

<form action="" method="post">{% csrf_token %}
    {% include 'bootstrap/form_with_errors.html' %}
</form>

{% endblock %}