{% load bootstrap_tags %}
{% load assets %}
{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/taoui_job_type/job_type.js' %}"></script>

<legend></legend>

<div class="row-fluid">
    <div class="boxed span8">

        <div id="telescope_params">
            <input type="button" value="Custom Job" class="btn tao-next" data-bind="click: next_tab" />
            <br />
            <br />
            <div id='file_upload_proxy' class="btn">
                Upload Paramters
                <input class="hidden_file_input" form="file_upload" id="id_job_type-params_file" name="job_type-params_file" type="file">
            </div>
            <br />
            <br />
            <input id="presets_button" type="button" value="Survey Preset" class="btn" />
            <br />
            <br />
            <select id="survey_presets" name="survey_presets" size="4" style="display: none;">
                <option>Test</option>
                <option>Test</option>
                <option>Test</option>
                <option>Test</option>
            </select>
        </div>
        
    </div>
</div>
