{% extends '_base.html' %}

{% load url from future %}
{% load staticfiles %}

{% block subtitle %}Jobs{% endblock subtitle %}

{% block extrajs %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui/themes/base/jquery-ui.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.1.custom.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jobs.js' %}"></script>
{% endblock extrajs %}

{% block content %}
    <h1>History</h1>
    <div>
        <table id="jobs_table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Submitted Timestamp</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>
                            <a id="view_job_{{ job.id }}" href="{% url 'view_job' job.id %}">{{ job.id }}</a>
                        </td>
                        <td>
                            {{ job.created_time|date:"D d M Y H:i" }}
                        </td>
                        <td>
                            {{ job.description|linebreaks }}
                        </td>
                        <td>
                            {{ job.status }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
