{% extends '_base.html' %}

{% load url from future %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% load assets %}
{% load light_cone_tags  %}

{% block subtitle %}Viewing Job{% endblock subtitle %}

{% block extrajs %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui/themes/base/jquery-ui.css' %}" />
    <script src="{% static 'js/jquery-ui-1.10.1.custom.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/TwoSidedSelectWidget.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/light_cone.js' %}"></script>
    <script type="text/javascript">
        var TAO_SEMIREQUIRED_FIELD_IDS = '{% semirequired_field_ids %}';
        var TAO_JSON_CTX = '{% json_ctx %}';
        var TAO_NO_FILTER = {% no_filter %};
    </script>
{% endblock extrajs %}

{%  comment %}
INGREDIENT #5: use forms here .summary view to render the summary here; but it requires JavaScript AND
the forms being hidden and all.
{% endcomment %}

{% block content %}
    <div>
        <h1>Viewing Job {{ job.id }}</h1>
        <div>
{#        Maybe need this for QA testing at some stage #}
{#            <div>#}
{#                <strong>Parameters</strong>#}
{#                <span>#}
{#                    {{ job.parameters|linebreaks }}#}
{#                </span>#}
{#            </div>#}
            <div>
                <strong>Download</strong>

                {% if job.is_completed %}
                    <ul id='id_completed_jobs'>
                        {% for file in job.files %}
                            <li>
                            {% if file.can_be_downloaded %}
                                <a href="{% url 'get_file' job.id file.file_name %}">
                                    {{ file.file_name }}
                                </a> ({{ file.get_file_size }})
                            {% else %}
                                {{ file.file_name }} ({{file.get_file_size }}. File size exceeds download limit.)
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if job.can_download_zip_file %}
                        <a id='id_download_as_zip' href="{% url 'get_zip_file' job.id %}">
                            Download zip file
                        </a>
                    {% else %}
                        (Zip file exceeds maximum download size.)
                    {% endif %}
                {% else %}
                    <p>
                        This job has not completed (and hence has no output).
                    </p>
                {% endif %}
            </div>
            <div>
                <strong>Status</strong>
                <p>{{ job.status }}</p>
                {% if job.is_error %}
                    <pre>
                    {{ job.error_message|linebreaks  }}
                    </pre>
                {% endif %}
            </div>
            <div>
                <strong>Summary</strong>
            </div>
            <div class="row-fluid" style="display: none;">
                {% for form in forms %}
                    <form action="" method="">
                        {% include form.EDIT_TEMPLATE %}
                    </form>
                {% endfor %}
            </div>
            <div class="job_view">
                {% for form in forms %}
                    {% include form.SUMMARY_TEMPLATE %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
