{% extends '_base.html' %}

{% load url from future %}

{% block subtitle %}Viewing Job{% endblock subtitle %}

{%  comment %}
INGREDIENT #5: use forms here .summary view to render the summary here; but it requires JavaScript AND
the forms being hidden and all.
{% endcomment %}

{% block content %}
    <div>
        <h1>Viewing Job {{ job.id }}</h1>
        <div>
{#        Maybe need this for QA testing at some stage #}
{#            <div>#}
{#                <strong>Parameters</strong>#}
{#                <span>#}
{#                    {{ job.parameters|linebreaks }}#}
{#                </span>#}
{#            </div>#}
            <div>
                <strong>Download</strong>

                {% if job.is_completed %}
                    <ul id='id_completed_jobs'>
                        {% for file in job.files %}
                            <li>
                            {% if file.can_be_downloaded %}
                                <a href="{% url 'get_file' job.id file.file_name %}">
                                    {{ file.file_name }}
                                </a> ({{ file.get_file_size }})
                            {% else %}
                                {{ file.file_name }} ({{file.get_file_size }}. File size exceeds download limit.)
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if job.can_download_zip_file %}
                        <a id='id_download_as_zip' href="{% url 'get_zip_file' job.id %}">
                            Download zip file
                        </a>
                    {% else %}
                        (Zip file exceeds maximum download size.)
                    {% endif %}
                {% else %}
                    <p>
                        This job has not completed (and hence has no output).
                    </p>
                {% endif %}
            </div>
            <div>
                <strong>Status</strong>
                <p>{{ job.status }}</p>
                {% if job.is_error %}
                    <pre>
                    {{ job.error_message|linebreaks  }}
                    </pre>
                {% endif %}
            </div>
            <div>
                <strong>Summary</strong>
            </div>
            <div id="hidden_lc_form"> {# style="display: none;"> #}

                {{ job.parameters|linebreaks }}

                {% for form in forms %}
                    {{ form.from_xml }}
                {% endfor %}
            </div>
            <form id="job-form" action="" method="XML">
                <fieldset>
                    <div class="row-fluid">
                        {% for form in forms %}
                            {% include form.SUMMARY_TEMPLATE %}
                        {% endfor %}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}
