<settings>	
	<PGDB>
		<serverip>tao02.hpc.swin.edu.au</serverip>
		<port>3306</port>
		<user>taoadmin</user>
		<password></password>
		<NewDBName>masterstaging</NewDBName>					
	</PGDB>
	
	<WorkFlowSettings>
		<CallbackURL>https://tao.asvo.org.au/taostaging/api/v1/</CallbackURL>
		<ProcessID>daemon-workflow-staging.pid</ProcessID>
		<WatchDogProcessID>daemon-workflow-watchdog-staging.pid</WatchDogProcessID>
		<WorkingDir>/lustre/projects/p014_swin/FTP/stagingjobs/</WorkingDir>
		<LogDir>/lustre/projects/p014_swin/logs/workflow.log</LogDir>
		<SleepTime>30</SleepTime>
		<Events>On</Events>
		<TerminateSubJobsOnError>On</TerminateSubJobsOnError>
		<enableemails>On</enableemails>
		<emailserver>gpo.swin.edu.au</emailserver>
		<senderEmail>admin@asvo.org.au</senderEmail>
		<ToEmail>ahassan@swin.edu.au</ToEmail>	
		<RestartWaitTime>30</RestartWaitTime>
		<MaximumRestartTime>2</MaximumRestartTime>	
	</WorkFlowSettings>
	<Torque>
		<ServerAddress>pbs.hpc.swin.edu.au</ServerAddress>
		<ScriptFileName>pbs_script</ScriptFileName>		
		<JobsQueue>sstar</JobsQueue>
		<outputbasedir>stagingjobs</outputbasedir>
		<Nodes>1</Nodes>
		<ProcessorNode>4</ProcessorNode>
		<UserName>taoadmin</UserName>
		<jobprefix>stao_</jobprefix>
		<ExecutableName>/lustre/projects/p014_swin/programs/ScienceModulesStaging/bin/tao</ExecutableName>
		<BaseLibPath>/lustre/projects/p014_swin/programs/ScienceModulesStaging/</BaseLibPath>
		<ProfilingExecutableName>/lustre/projects/p014_swin/programs/WorkflowStaging/tao_profiling</ProfilingExecutableName>
		<MergeScriptName>python /lustre/projects/p014_swin/programs/WorkflowStaging/mergeoutput.py</MergeScriptName>
		<AuxInputData>/lustre/projects/p014_swin/programs/ScienceModulesStaging/data</AuxInputData>		
		<BasicSettingsPath>/lustre/projects/p014_swin/programs/WorkflowStaging/basicsetting.xml</BasicSettingsPath>
		<maindatapath>/lustre/projects/p014_swin/programs/ScienceModulesStaging/maindata</maindatapath>
	</Torque>
	
</settings>	
