{% load staticfiles %}
{% load bootstrap_tags %}
{% load assets %}
<script type="text/javascript" src="{% static 'js/taoui_light_cone/light_cone.js' %}"></script>

{% block extrajs %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui/themes/base/jquery-ui.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-1.8.0.min.js' %}"></script>
    <!--<script src="/resources/demos/external/jquery.mousewheel.js"></script>-->
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.1.custom.js' %}"></script>
{% endblock extrajs %}

<legend></legend>
<div class="row-fluid">
    <div class="boxed span8">
        {% for fieldset in form.fieldsets %}
        <fieldset>
            <legend>{{ fieldset.legend }}</legend>
            {% for field in fieldset %}
               {% include "bootstrap/field.html" %}
            {% endfor %}
        </fieldset>
        {% endfor %}
        <script type="text/javascript">
            // inject job size estimate as readonly text manually in a div after redshift_max, spanning 2 columns
            $('<div class="control-group light_cone_field" id="max_job_size">Estimated job size: </div>').insertAfter($('.id_light_cone-redshift_max'));
        </script>
    </div>
    <div class="aside span4">
        <div class="boxed">
            <div class="simulation-info">
                <div> Selected simulation details </div>
                <div style="overflow-y: scroll;height: 210px">
                    <p>
                        <strong class="name"><!-- --></strong>
                    </p>
                    <div class="details"><!-- --></div>
                </div>
            </div>
        </div>
        <div class="boxed">
            <div class="galaxy-model-info">
                <div> Selected galaxy model details </div>
                <div style="overflow-y: scroll;height: 210px">
                    <p>
                        <strong class="name"><!-- --></strong>
                    </p>
                    <div class="details"><!-- --></div>
                </div>
            </div>
        </div>
        <div class="boxed">
            <div class="output-property-info">
                <div> Selected output property details </div>
                <div style="overflow-y: scroll;height: 210px">
                    <p>
                        <strong class="name"><!-- --></strong>
                    </p>
                    <div class="details"><!-- --></div>
                </div>
            </div>
        </div>
    </div>
</div>
