<div class="summary_light_cone">
    <table>
        <tr>
            <td><h4 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">General Properties</h4></td>
            <td></td>
        </tr>
        <tr>
            <td>Catalogue Geometry</td>
            <td><span class="geometry_type" data-bind='text: hr_catalogue_geometry'><!-- --></span></td>
        </tr>
        <tr>
            <td>Dataset</td>
            <td>
                <span class="simulation" data-bind='text: hr_simulation_name'><!-- --></span> / <span class="galaxy_model"><!-- --></span> <a id="expand_dataset" href="#">>></a>
                <span class="simulation_description">
                    <br><b><span data-bind='text: hr_simulation_name'></span></b><br>
                    <span data-bind='html: hr_simulation_details'></span>
                </span>
                <span class="galaxy_model_description"><!-- --></span>
                <!-- <span class="galaxy_model_description" data-bind='text: hr_galaxy_model_name'><!-- --></span> -->
            </td>
        </tr>
        <tr class="light_cone_fields">
            <td>Dimensions</td>
            <td>
                <span class="ra_opening_angle" data-bind='html: hr_ra_opening_angle'><!-- --></span>
                <span class="dec_opening_angle" data-bind='html: hr_dec_opening_angle'><!-- --></span>
                <!-- <span class="redshift_min" data-bind='text: redshift_min'></span> <span class="redshift_max"></span> -->
                <span class="redshift" data-bind='html: hr_redshift'><!-- --></span>
            </td>
        </tr>
        <tr class="light_cone_fields">
            <td>Count</td>
            <td><span class="number_of_light_cones"><!-- --></span></td>
        </tr>
        <tr class="box_fields">
            <td>Box Size</td>
            <td><span class="box_size" data-bind='text: box_size'><!-- --></span></td>
        </tr>
        <tr class="box_fields">
            <td>Redshift</td>
            <td><span class="snapshot" data-bind='text: snapshot_redshift'><!-- --></span></td>
        </tr>
        <tr>
            <td>Output Properties</td>
            <td>
                <span class="output_properties" data-bind="text: output_properties.to_side.options_total() + ' properties selected'"><!-- --></span>
                <a id="expand_output_properties" href="#">>></a>
                <div class="output_properties_list" data-bind="template: { name: 'summary_output_properties_with_groups', data: output_properties.to_side }"><!-- --></div>
            </td>
        </tr>
    </table>
</div>

<script type="text/html" id="summary_output_properties_with_groups">
        <!-- ko if: !has_groups -->
        <ul data-bind="foreach: options">
            <li><span data-bind="text: text"/> <i data-bind="text: units" style="font-size: small"></i></li>
        </ul>
        <!-- /ko -->
        <!-- ko if: has_groups -->
        <ul data-bind="foreach: option_groups">
          <span data-bind="text: group_name"></span>
          <ul data-bind="foreach: options">
            <li><span data-bind="text: text"/> <i data-bind="text: units" style="font-size: small"></i></li>
          </ul>
        </ul>
        <!-- /ko -->
</script>

