<h5 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">General Properties</h5>
<div class="summary_light_cone">
    <p>Type:
        <span class="geometry_type"><!-- --></span>
    </p>
    <p>Dark Matter Simulation:
        <span class="simulation"><!-- --></span>
    </p>
    <p>Galaxy Model:
        <span class="galaxy_model"><!-- --></span>
    </p>
    <span class="light_cone_fields">
        <p>Right Ascension Opening Angle:
            <span class="ra_opening_angle"><!-- --></span>
        </p>
        <p>Declination Opening Angle:
            <span class="dec_opening_angle"><!-- --></span>
        </p>
        <p>Redshift Min:
            <span class="redshift_min"><!-- --></span>
        </p>
        <p>Redshift Max:
            <span class="redshift_max"><!-- --></span>
        </p>
        <p>Light-Cone Type:
            <span class="light_cone_type"><!-- --></span>
        </p>
        <p>Count:
            <span class="number_of_light_cones"><!-- --></span>
        </p>
    </span>
    <span class="box_fields">
    <p>Box Size:
        <span class="box_size"><!-- --></span>
    </p>
    <p>Redshift:
        <span class="snapshot"><!-- --></span>
    </p>
    </span>
    <p>Output Properties:
        <span class="output_properties"><!-- --></span>
    </p>
</div>
