[buildout]
parts = django fab chmod_fcgi
versions = versions

[versions]
django = 1.4.1
MySQL-python = 1.2.3

[django]
recipe = djangorecipe
settings = development
eggs =
    MySQL-python
    South
    flup
    django-recaptcha
    django-form-utils
    selenium
    django-piston
    factory_boy
    django-nose
    nosexcover
project = tao

[fab]
recipe = zc.recipe.egg:scripts
eggs =
    fabric
    setuptools # required by fabric

[chmod_fcgi]
recipe = plone.recipe.command
command = chmod u+x ${buildout:directory}/deploy/django*.fcgi
update-command = chmod u+x ${buildout:directory}/deploy/django*.fcgi
